{
  "name": "grid-template-init-project",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "libs/normalize-scss/sass/_normalize.scss",
      "imports": [
        "libs/normalize-scss/sass/normalize/_variables.scss",
        "libs/normalize-scss/sass/normalize/_vertical-rhythm.scss",
        "libs/normalize-scss/sass/normalize/_normalize-mixin.scss"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/less/brands.less",
      "imports": [
        "libs/@fortawesome/fontawesome-free/less/_variables.less"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/less/fontawesome.less",
      "imports": [
        "libs/@fortawesome/fontawesome-free/less/_variables.less",
        "libs/@fortawesome/fontawesome-free/less/_mixins.less",
        "libs/@fortawesome/fontawesome-free/less/_core.less",
        "libs/@fortawesome/fontawesome-free/less/_larger.less",
        "libs/@fortawesome/fontawesome-free/less/_fixed-width.less",
        "libs/@fortawesome/fontawesome-free/less/_list.less",
        "libs/@fortawesome/fontawesome-free/less/_bordered-pulled.less",
        "libs/@fortawesome/fontawesome-free/less/_animated.less",
        "libs/@fortawesome/fontawesome-free/less/_rotated-flipped.less",
        "libs/@fortawesome/fontawesome-free/less/_stacked.less",
        "libs/@fortawesome/fontawesome-free/less/_icons.less",
        "libs/@fortawesome/fontawesome-free/less/_screen-reader.less"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/less/regular.less",
      "imports": [
        "libs/@fortawesome/fontawesome-free/less/_variables.less"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/less/solid.less",
      "imports": [
        "libs/@fortawesome/fontawesome-free/less/_variables.less"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/less/v4-shims.less",
      "imports": [
        "libs/@fortawesome/fontawesome-free/less/_variables.less",
        "libs/@fortawesome/fontawesome-free/less/_shims.less"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/scss/brands.scss",
      "imports": [
        "libs/@fortawesome/fontawesome-free/scss/_variables.scss"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/scss/fontawesome.scss",
      "imports": [
        "libs/@fortawesome/fontawesome-free/scss/_variables.scss",
        "libs/@fortawesome/fontawesome-free/scss/_mixins.scss",
        "libs/@fortawesome/fontawesome-free/scss/_core.scss",
        "libs/@fortawesome/fontawesome-free/scss/_larger.scss",
        "libs/@fortawesome/fontawesome-free/scss/_fixed-width.scss",
        "libs/@fortawesome/fontawesome-free/scss/_list.scss",
        "libs/@fortawesome/fontawesome-free/scss/_bordered-pulled.scss",
        "libs/@fortawesome/fontawesome-free/scss/_animated.scss",
        "libs/@fortawesome/fontawesome-free/scss/_rotated-flipped.scss",
        "libs/@fortawesome/fontawesome-free/scss/_stacked.scss",
        "libs/@fortawesome/fontawesome-free/scss/_icons.scss",
        "libs/@fortawesome/fontawesome-free/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/scss/regular.scss",
      "imports": [
        "libs/@fortawesome/fontawesome-free/scss/_variables.scss"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/scss/solid.scss",
      "imports": [
        "libs/@fortawesome/fontawesome-free/scss/_variables.scss"
      ]
    },
    {
      "path": "libs/@fortawesome/fontawesome-free/scss/v4-shims.scss",
      "imports": [
        "libs/@fortawesome/fontawesome-free/scss/_variables.scss",
        "libs/@fortawesome/fontawesome-free/scss/_shims.scss"
      ]
    },
    {
      "path": "libs/normalize-scss/fork-versions/default/_normalize.scss",
      "imports": [
        "libs/normalize-scss/fork-versions/default/_variables.scss",
        "libs/normalize-scss/fork-versions/default/_vertical-rhythm.scss"
      ]
    },
    {
      "path": "libs/normalize-scss/fork-versions/deprecated-compass/_normalize.scss",
      "imports": [
        "libs/normalize-scss/fork-versions/deprecated-compass/_variables.scss"
      ]
    },
    {
      "path": "libs/normalize-scss/fork-versions/typey/_normalize.scss",
      "imports": [
        "libs/normalize-scss/fork-versions/typey/_variables.scss"
      ]
    },
    {
      "path": "libs/normalize-scss/fork-versions/typey-chroma-kss/styles.scss",
      "imports": [
        "libs/normalize-scss/fork-versions/typey-chroma-kss/_init.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/_fonts.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/_normalize.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/components/divider/_divider.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/forms/button/_button.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/init/_colors.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/init/_variables.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/init/rtl/_rtl.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/document/_document.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/sections/_sections.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/grouping/_grouping.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/links/_links.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/text/_text.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/embedded/_embedded.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/forms/_forms.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/tables/_tables.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/interactive/_interactive.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/scripting/_scripting.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/hidden/_hidden.scss"
      ]
    },
    {
      "path": "libs/normalize-scss/fork-versions/typey-chroma-kss/_init.scss",
      "imports": [
        "libs/normalize-scss/fork-versions/typey-chroma-kss/init/_colors.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/init/_variables.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/init/rtl/_rtl.scss"
      ]
    },
    {
      "path": "libs/normalize-scss/sass/normalize/_import-now.scss",
      "imports": [
        "libs/normalize-scss/sass/_normalize.scss",
        "libs/normalize-scss/sass/normalize/_variables.scss",
        "libs/normalize-scss/sass/normalize/_vertical-rhythm.scss",
        "libs/normalize-scss/sass/normalize/_normalize-mixin.scss"
      ]
    },
    {
      "path": "libs/normalize-scss/fork-versions/typey-chroma-kss/base/_normalize.scss",
      "imports": [
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/document/_document.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/sections/_sections.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/grouping/_grouping.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/links/_links.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/text/_text.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/embedded/_embedded.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/forms/_forms.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/tables/_tables.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/interactive/_interactive.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/scripting/_scripting.scss",
        "libs/normalize-scss/fork-versions/typey-chroma-kss/base/hidden/_hidden.scss"
      ]
    },
    {
      "path": "assets/scss/style.scss",
      "imports": [
        "assets/scss/normalize.scss",
        "assets/scss/_common.scss",
        "assets/scss/_header.scss",
        "assets/scss/_skills.scss",
        "assets/scss/_about.scss",
        "assets/scss/_form.scss",
        "assets/scss/_posts.scss",
        "assets/scss/_footer.scss",
        "assets/scss/_media.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"output\":{\"replaceSegments\":[\"scss\"]},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}