
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  color: #637588;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.2em;
}

h2 {
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
  color: #2d3651;
}

h3 {
    color: #637588;
}

p {
  letter-spacing: 1px;
  color: #637588;
}

div {
  display: block;
}

form {
  display: block;
  margin-top: 0em;
}

input {
  overflow: visible;
}

article, 
aside, 
footer, 
header, 
nav, 
section {
    display: block;
}

.container {
  display: grid;
  max-width: 1340px;
  margin: auto;
  padding: 0 20px;
}

.btn,
.btn-accent {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  min-width: 250px;
  height: 60px;
  margin: 0 10px;
  padding: 18px 20px;
  transition: background-color 0.5s, border-color 0.5s;
  text-align: center;
  letter-spacing: 0.15em;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  font-size: 1.125rem;
}

.btn:hover,
.btn:focus {
  background-color: #d66926;
}
.section h2 {
    margin-top: 0;
}

.btn-set {
  display: grid;
  padding: 0 0 20px;
  justify-items: center;
}

.btn-accent {
  border-color: #2d3651;
  background-color: rgba(45, 54, 81, 0.8);

  &:hover {
    background-color: #d66926;
  }
}

