/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/*# sourceMappingURL=style.css.map */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  color: #637588; }

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent; }

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.2em; }

h2 {
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
  color: #2d3651; }

h3 {
  color: #637588; }

p {
  letter-spacing: 1px;
  color: #637588; }

div {
  display: block; }

form {
  display: block;
  margin-top: 0em; }

input {
  overflow: visible; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

.container {
  display: -ms-grid;
  display: grid;
  max-width: 1340px;
  margin: auto;
  padding: 0 20px; }

.btn,
.btn-accent {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  min-width: 250px;
  height: 60px;
  margin: 0 10px;
  padding: 18px 20px;
  -webkit-transition: background-color 0.5s, border-color 0.5s;
  -o-transition: background-color 0.5s, border-color 0.5s;
  transition: background-color 0.5s, border-color 0.5s;
  text-align: center;
  letter-spacing: 0.15em;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  font-size: 1.125rem; }

.btn:hover,
.btn:focus {
  background-color: #d66926; }

.section h2 {
  margin-top: 0; }

.btn-set {
  display: -ms-grid;
  display: grid;
  padding: 0 0 20px;
  justify-items: center; }

.btn-accent {
  border-color: #2d3651;
  background-color: rgba(45, 54, 81, 0.8); }
  .btn-accent:hover {
    background-color: #d66926; }

.header {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 100px 0;
  min-height: 100vh;
  color: #ffffff;
  background-color: #2d3651;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8; }

.header-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }
  .header-menu .container {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr; }

.header-logo {
  letter-spacing: 0.5em;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  .header-logo a {
    display: block;
    padding: 20px 20px 20px 0; }
  .header-logo span {
    display: inline-block;
    padding: 15px 7px 15px 15px;
    border: 2px solid #d53d27; }

.header-navbar {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
  align-self: center;
  justify-items: end; }
  .header-navbar_hamburger {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    margin: 20px 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
    .header-navbar_hamburger span {
      display: block;
      position: absolute;
      height: 3px;
      width: 50%;
      background: #ffffff;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }

.header-navbar_hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0; }

.header-navbar_hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 3px 0 0 3px; }

.header-navbar_hamburger span:nth-child(1), .header-navbar_hamburger span:nth-child(2) {
  top: 0px; }

.header-navbar_hamburger span:nth-child(3), .header-navbar_hamburger span:nth-child(4) {
  top: 9px; }

.header-navbar_hamburger span:nth-child(5), .header-navbar_hamburger span:nth-child(6) {
  top: 18px; }

.header-navbar_hamburger.active span:nth-child(1), .header-navbar_hamburger.active span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.header-navbar_hamburger.active span:nth-child(2), .header-navbar_hamburger.active span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header-navbar_hamburger.active span:nth-child(1) {
  left: 2.5px;
  top: 3.5px; }

.header-navbar_hamburger.active span:nth-child(2) {
  left: calc(50% - 2.5px);
  top: 3.5px; }

.header-navbar_hamburger.active span:nth-child(3) {
  left: -50%;
  opacity: 0; }

.header-navbar_hamburger.active span:nth-child(4) {
  left: 100%;
  opacity: 0; }

.header-navbar_hamburger.active span:nth-child(5) {
  left: 2.5px;
  top: 14.5px; }

.header-navbar_hamburger.active span:nth-child(6) {
  left: calc(50% - 2.5px);
  top: 14.5px; }

.header-navbar_list {
  display: -ms-grid;
  display: grid;
  margin: 0 -20px 0 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .header-navbar_list.active {
    z-index: 2;
    opacity: 1; }

.header-navbar_item a {
  opacity: 1;
  display: block;
  padding: 20px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

.header-navbar_item :hover {
  color: #d66926; }

.header-content {
  z-index: 1; }

.header-title {
  margin: 0 0 53px;
  text-align: center; }

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.skills {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  grid-gap: 10px; }
  .skills .btn-set {
    padding: 10px 0 30px;
    display: -ms-grid;
    display: grid;
    justify-items: center; }

.skill-item {
  min-height: calc(33.33vh - 14px);
  display: -ms-grid;
  display: grid;
  padding: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center; }
  .skill-item:hover .skill-item_image {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .skill-item_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #2d3651; }
  .skill-item_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.8;
    background-color: #2d3651;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .skill-item:hover .skill-item_overlay {
    opacity: 0.95; }
  .skill-item_title {
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    z-index: 1;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    font-weight: 700;
    color: #ffffff; }
  .skill-item:hover .skill-item_title {
    color: #d68926; }

.about {
  background-color: #e5e5e5; }

.about-image {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .about-image img {
    max-width: 100%;
    max-height: 480px;
    margin-top: 20px; }

.about-content h2 {
  margin-bottom: 50px; }

.about-content p:first-of-type {
  position: relative; }
  .about-content p:first-of-type::after {
    position: absolute;
    right: -50px;
    top: 0;
    width: 2px;
    height: 200px;
    content: "";
    background-color: rgba(99, 117, 136, 0.1); }

.form {
  padding: 30px 0;
  background-color: #2d3651; }
  .form .container {
    grid-gap: 20px; }
  .form input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 20px;
    -webkit-transition: background-color 0.5s, border-color 0.5s;
    -o-transition: background-color 0.5s, border-color 0.5s;
    transition: background-color 0.5s, border-color 0.5s;
    letter-spacing: 0.15em;
    font-size: 1.125rem;
    background-color: #2d3651;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.05); }
    .form input::-webkit-input-placeholder {
      color: #637588; }
    .form input:-ms-input-placeholder {
      color: #637588; }
    .form input::-ms-input-placeholder {
      color: #637588; }
    .form input::placeholder {
      color: #637588; }
    .form input:hover, .form input:focus {
      border-color: rgba(255, 255, 255, 0.15);
      border-bottom-color: #ffffff;
      background-color: rgba(255, 255, 255, 0.15); }
      .form input:hover::-webkit-input-placeholder, .form input:hover::-webkit-input-placeholder, .form input:focus::-webkit-input-placeholder, .form input:focus::-webkit-input-placeholder {
        color: #8c9bab; }
      .form input:hover:-ms-input-placeholder, .form input:hover:-ms-input-placeholder, .form input:focus:-ms-input-placeholder, .form input:focus:-ms-input-placeholder {
        color: #8c9bab; }
      .form input:hover::-ms-input-placeholder, .form input:hover::-ms-input-placeholder, .form input:focus::-ms-input-placeholder, .form input:focus::-ms-input-placeholder {
        color: #8c9bab; }
      .form input:hover::placeholder, .form input:hover::placeholder, .form input:focus::placeholder, .form input:focus::placeholder {
        color: #8c9bab; }
  .form .btn-accent {
    width: 100%;
    margin: 0;
    color: #ffffff;
    -webkit-transition: background-color 0.5s, border-color 0.5s;
    -o-transition: background-color 0.5s, border-color 0.5s;
    transition: background-color 0.5s, border-color 0.5s;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1); }
    .form .btn-accent:hover, .form .btn-accent:focus {
      cursor: pointer;
      border-color: #ffffff;
      background-color: #d66926; }

.posts .container {
  grid-gap: 20px; }

.posts-item {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #f2f2f2; }
  .posts-item a {
    display: -ms-grid;
    display: grid;
    overflow: hidden;
    height: 100%;
    -ms-grid-rows: 300px 1fr;
    grid-template-rows: 300px 1fr; }
  .posts-item_image {
    position: relative;
    overflow: hidden; }
    .posts-item_image div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: -webkit-transform 0.5s;
      transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
      background-color: #2d3651;
      background-position: 50% 50%;
      background-size: cover; }
  .posts-item_caption {
    display: -ms-grid;
    display: grid;
    padding: 20px;
    -ms-flex-line-pack: center;
    align-content: center; }
    .posts-item_caption h3 {
      -webkit-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
      text-align: center; }
  .posts-item :hover {
    background-color: #d8d8d8; }
    .posts-item :hover .posts-item_image div {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .posts-item :hover h3 {
      color: #2d3651; }
    .posts-item :hover p {
      color: #2d3651; }

.footer {
  padding: 50px 20px 70px;
  text-align: center;
  background-color: #1b2030; }
  .footer .fab {
    font-size: 36px; }
  .footer span:nth-of-type(1) {
    font-weight: 100; }
  .footer span:nth-of-type(2) {
    color: #e5e5e5;
    font-weight: 700; }

.footer-social {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer-social a {
    display: block;
    padding: 10px;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s; }
    .footer-social a:hover, .footer-social a:focus {
      color: #d66926; }
  .footer-social::after {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 75px / 2);
    width: 75px;
    height: 2px;
    content: "";
    background-color: rgba(255, 255, 255, 0.1); }

@media (min-width: 993px) {
  h1 {
    font-size: 3.75rem; }
  h2 {
    font-size: 2.5rem; }
  .section {
    padding-top: 100px;
    padding-bottom: 80px; }
  .btn-set {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4; }
  .header-title {
    margin: 0 0 53px; }
  .skills {
    padding: 10px;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr); }
  .skill-item:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .skill-item:nth-of-type(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2; }
  .skill-item:nth-of-type(6) {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2; }
  .about .container {
    grid-gap: 100px;
    -ms-grid-columns: 1fr 271px;
    grid-template-columns: 1fr 271px; }
  .about-content h2 {
    margin-bottom: 50px; }
  .about-content p {
    font-size: 1.125rem; }
  .about-content p:first-of-type::after {
    right: -50px; }
  .form .container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr); }
  .posts .container {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr); }
  .posts h2 {
    margin-bottom: 30px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / span 4; }
  .posts-item:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .posts-item:nth-of-type(6) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / span 2; } }

@media (max-width: 992px) and (min-width: 769px) {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 43px; }
  h2 {
    font-size: 2rem; }
  .header-buttons .btn {
    min-width: 200px;
    height: 50%;
    padding-top: 14px;
    padding-bottom: 14px;
    letter-spacing: 0.1em;
    font-size: 1rem; }
  .btn-set {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3; }
  .skills {
    padding: 10px;
    grid-gap: 10px;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr); }
  .skill-item:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .skill-item:nth-of-type(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2; }
  .skill-item:nth-of-type(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .skill-item:nth-of-type(6) {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2; }
  .skill-item:nth-of-type(7) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / span 2; }
  .skill-item:nth-of-type(9) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2; }
  .section {
    padding-top: 80px;
    padding-bottom: 60px; }
  .about-content h2 {
    margin-bottom: 40px; }
  .about .container {
    grid-gap: 40px;
    -ms-grid-columns: 1fr 271px;
    grid-template-columns: 1fr 271px; }
  .about-content p:first-of-type::after {
    right: -20px; }
  .form .container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr); }
  .posts h2 {
    margin-bottom: 20px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3; }
  .posts .container {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr); }
  .posts-item:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .posts-item:nth-of-type(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2; }
  .posts-item:nth-of-type(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; } }

@media (max-width: 768px) {
  h1 {
    font-size: 1.875rem; }
  h2 {
    font-size: 1.5rem; }
  .section {
    padding-top: 60px;
    padding-bottom: 40px; }
  .header-title {
    margin: 0 0 43px; }
  .header-buttons .btn {
    min-width: 170px;
    height: 40px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
    font-size: 1rem; }
  .header-menu {
    background-color: rgba(68, 89, 110, 0.25); }
  .header-navbar_list {
    position: absolute;
    z-index: -100;
    top: 100%;
    right: 20px;
    text-align: right;
    opacity: 0;
    background-color: rgba(68, 89, 110, 0.8); }
  .header-navbar_hamburger {
    display: block; }
  .skill-item_title {
    font-size: 1.125rem; } }

@media (max-width: 768px) and (min-width: 577px) {
  .skills {
    padding: 10px;
    grid-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  .btn-set {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .skill-item:nth-of-type(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2; }
  .skill-item:nth-of-type(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .skill-item:nth-of-type(5) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / span 2; }
  .section {
    padding-top: 60px;
    padding-bottom: 40px; }
  .about-content h2 {
    margin-bottom: 30px; }
  .about .container {
    grid-gap: 20px;
    -ms-grid-columns: 1fr 236px;
    grid-template-columns: 1fr 236px; }
  .about-content p:first-of-type::after {
    right: -10px; }
  .form .container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  .form-item:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .posts h2 {
    margin-bottom: 10px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
  .posts .container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 576px) {
  .btn-set {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .btn-set .btn-accent {
    margin: 0; }
  .skills {
    padding: 10px;
    grid-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .about .container {
    grid-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .about-content p:first-of-type::after {
    display: none; }
  .about-content h2 {
    margin-bottom: 30px;
    text-align: center; }
  .posts .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; } }

@media (min-width: 769px) {
  .header-navbar_list {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content)); }
  .header-navbar_hamburger {
    display: none; }
  .skill-item_title {
    font-size: 1.25rem; } }

@media (min-width: 577px) {
  .btn-set .btn-accent {
    min-width: 350px; }
  .skills .btn-set {
    padding: 10px 0 30px; } }

@media (max-height: 690px) {
  .skill-item {
    min-height: calc(230px - 20px * 0.66); } }

/*# sourceMappingURL=style.css.map */